*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background-color:lightblue;
text-align:center;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background-color:#869185;
color:#f0f483;
}

nav ul{
list-style:none;
display:flex;
gap:20px;
}

nav ul li a{
text-decoration:none;
color:#222;
font-weight:bold;
}

nav ul li a:hover{
color:white;
}

main{
padding:40px;
}

p{
margin-top:20px;
font-size:18px;
color:#333;
}

footer{
margin-top:50px;
padding:20px;
background:#333;
color:white;
}

.skills{
list-style:none;
margin-top:20px;
}

.skills li{
margin:5px;
}

.project{
margin:20px;
padding:20px;
background:white;
border-radius:10px;
}

form{
display:flex;
flex-direction:column;
width:300px;
margin:auto;
gap:10px;
}

input,textarea{
padding:10px;
border:1px solid #ccc;
border-radius:5px;
}

button{
padding:10px;
background:#333;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:black;
}